h1 Log in

form(method="POST", action="/users")
	p
		label(for="username") Username<br>
		input#username(name="username")
	p
		label(for="password") Password<br>
		input#password(password="password")
	p
		input(type="submit", value="Log in")